header {
  display: flex;
  align-items: center;
  position: fixed;
  font-family: verdana;
  font-size: 14px;
  font-weight: bold;
  justify-content:space-between;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  background-color: white;
  top: 0px;
  left: 0px;
}



.logo {
  display: inline-flex;
  align-items: center;
  padding-left: 30px;
  color: MediumAquamarine;
}
.logo img {
  width: 70px;
  height: 60px;
  margin-right: 12px;
}

header nav {
  display: inline-flex;
  padding-right: 40px;
}

a {
  color: black;
}


nav span {
  display: inline-block;
  padding: 20px 10px;
}

/* THIS IS THE END OF THE HEADER PART */

/*THIS IS THE START OF BODY PART */

.column {
  display: flex;
  width:1232px;
  margin: 0 auto 78px auto;
  padding-top: 116px;
}

.column .large {
  display: flex;
  width: 630px;
  flex-direction: column;
  margin-right: 32px;
}

.column .medium {
  display: flex;
  width: 300px;
  flex-direction: column;
  margin-right: 32px;
}

.column .small {
  flex-direction: column;
  display: flex;
  width: 240px;
  margin-right: 32px;
}



#MotherImage span {
  font-size: 40px;
  text-align: left;
  color:white;
}

/*this is kind of repetitive*/
#MotherImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: georgia;
  font-weight: bold;
  height: 300px;
  background-image: url(
file:///Users/alex/Desktop/Coding/WebProjects/MyTimes/resources/images/mainStory.png);
}

#OrcaImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  margin-top: 15px;
  font-family: georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png);
}


#BurgerImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  margin-top: 15px;
  font-family: georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png);
}

#CatsImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  margin-top: 15px;
  font-family: georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png);
}

#stories {
  display: flex;
  flex-direction: row;
}

#cookieWords {
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#cookieWords .ThirdBar {
  text-align: left;
  font-weight: normal;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  border-bottom: 1px solid black;
  padding: 11px 20px;
}

/*THIS IS THE FOOTER PART*/
footer {
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  display: flex;
  width: 100%;
  height: 325px;
  font-size:12px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#MyTimes {
  display: inline-block;
  padding-right: 25px;
  border-right: 2px solid white;
  font-family: georgia;
  font-size:16px;
  font-weight: bold;
  color: white;
}

#bottom {
  padding-left: 25px;
  display: inline-block;
}

p {
  display: inline-block;
}
